@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-color: #023e19;
  position: relative;
  color: #ffffff;
}

.cabecalho {
  text-align: center;
  margin: 0 auto;
}

.inicio {
  margin-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 80%;
  align-items: center;
}
.notificacao {
  text-align: center;
  height: auto;
  width: 400px;
  align-items: center;
  font-size: 20px;
  margin: 0 auto;
}
.notificacao2 {
  text-align: center;
  margin-left: 15%;
  height: auto;
  width: 700px;
  font-size: 20px;
  margin: 0 auto;
}

.notificacao3 {
  text-align: left;
  margin: 0 auto;
  height: auto;
  width: 700px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.notificacao4 {
  text-align: left;
  margin: 0 auto;
  height: auto;
  width: 700px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.nome {
  text-align: left;
  margin: 0 auto;
  height: auto;
  width: 700px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 100px;
  border: 2px solid #169d00;
  border-radius: 8px;
  background-color: #169d00;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: block;
  font-size: 20px;
  width: 200px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  margin-top: 20px;
  transition: 0.5s ease-out;
}
.button:hover {
  transform: scale(1.12);
}

.button2 {
  border-color: #78e138;
  background-color: #78e138;
}

.button3 {
  border-color: #d8dc00;
  background-color: #d8dc00;
}

.button4 {
  border-color: #ff7d33;
  background-color: #ff7d33;
}

.button5 {
  border-color: #ff0000;
  background-color: #ff0000;
}

#enviar {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 50px;
  border: 2px solid #727272;
  border-radius: 8px;
  background-color: #727272;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: block;
  font-size: 16px;
  width: 160px;
  text-align: center;
  border-style: solid;
  margin-top: 20px;
}
@keyframes pulse {
  from {
    box-shadow: 0 0 25px #6d6d6d, 0 0 50px #6d6d6d;
  }
}

.button:focus {
  animation: pulse 0.5s ease-in-out;
}
.button2:focus {
  animation: pulse 0.5s ease-in-out;
}
.button3:focus {
  animation: pulse 0.5s ease-in-out;
}
.button4:focus {
  animation: pulse 0.5s ease-in-out;
}
.button5:focus {
  animation: pulse 0.5s ease-in-out;
}

.input-group {
  position: relative;
  display: none;
}
.input-group textarea {
  display: block;
  padding: 10px;
  width: 380px;
  height: 200px;
  border-color: #6d6d6d;
  outline: none;
  border-radius: 4px;
  font: inherit;
  margin: 0 auto;
  margin-top: 20px;
}
.input-group textarea::placeholder {
  transition: opacity 0.25s;
}
.input-group textarea:focus::placeholder {
  opacity: 0;
}

.opcao {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 10px;
  border: 2px solid #710505;
  border-radius: 8px;
  background-color: #710505;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  transition: 0.5s ease-out;
}
.opcao:hover {
  transform: scale(1.12);
}

.selecione {
  display: block;
  margin: 0 auto;
  align-items: center;
  width: 900px;
}

.opcao1 {
  border-color: #ce0000;
  background-color: #ce0000;
}

.opcao2 {
  border-color: #ff0000;
  background-color: #ff0000;
}

.opcao3 {
  border-color: #db3b09;
  background-color: #db3b09;
}

.opcao4 {
  border-color: #ff6b00;
  background-color: #ff6b00;
}

.opcao5 {
  border-color: #c3bd2d;
  background-color: #c3bd2d;
}

.opcao6 {
  border-color: #fff50d;
  background-color: #fff50d;
}

.opcao7 {
  border-color: #b6f292;
  background-color: #b6f292;
}

.opcao8 {
  border-color: #9ade70;
  background-color: #9ade70;
}

.opcao9 {
  border-color: #77ca6a;
  background-color: #77ca6a;
}

.opcao10 {
  border-color: #24ff00;
  background-color: #24ff00;
}

.container {
  width: 1216px;
  margin: 0 auto;
}

.but {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #3fd128;
  border-radius: 8px;
  background-color: #3fd128;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  margin-top: 30px;
  font-family: 'Trebuchet MS';
  transition: 0.5s ease-out;
  margin-top: 13%;
  display: flex;
  justify-content: center;
}
