

.box {
  background-image: linear-gradient(to top left, #00471b, #066d2f);
  padding: 20px;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 400px;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  color: #ececec;
}

.box .header {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.box .header input {
  width: 100%;
  margin-right: 20px;
  padding: 10px;
  border: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #00471b;
  outline: none;
}

.box .header input:focus,
input:hover {
  border-color: #000000;
}

.box .header button {
  outline: none;
  border: none;
  width: 50px;
  border-radius: 5px;
  background-color: #22a216;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 0.3s ease;
}

.box .header button:hover {
  border-color: #075f1b;
}

.box .todo {
  display: flex;
  justify-content: space-between;
  padding: 10px 7px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 5px;
  z-index: 0 !important;
  background-color: #1f7518;
}

.box .todo button {
  z-index: 20 !important;
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  border: none;
  outline: none;
  transition: all 0.2s ease-out;
}

.box .todo:hover button {
  right: 0;
}

.box .footer {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.box .footer button {
  border: none;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.box .footer button:hover {
  border-color: #16811c;
}

.titulo {
  margin-bottom: 30px;
  font-family: 'nba-milwaukee-bucks-2015-regular', sans-serif;
}

.voltar {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #2d7023;
  border-radius: 8px;
  background-color: #286d1d;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 20px;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  margin-top: 30px;
  font-family: 'nba-milwaukee-bucks-2015-regular', sans-serif;
  transition: 0.5s ease-out;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.ava {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
